*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}
.ponto-amarelo{
    color: var(--cor-p1);
}
:root {
    --cor-0: #ffffff;
    --cor-1: #f7f7f7;
    --cor-2: #ededed;
    --cor-3: #dedede;
    --cor-4: #cccccc;
    --cor-5: #b2b2b2;
    --cor-6: #9c9c9c;
    --cor-7: #717171;
    --cor-8: #595959;
    --cor-9: #404040;
    --cor-10: #2e2e2e;
    --cor-11: #111111;
    --cor-12: #000000;
    --cor-p1: #ffbb00;
    --cor-p2: #e4a30b;
    --cor-p3: #a66f00;
    --cor-p4: #664400;
    --cor-p5: #332200;
}
.header-bg{
    background-color: var(--cor-12);
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 28px 20px 28px 20px;
}
.logo{
    padding-top: 4px;
}
nav ul{
    padding-top: 4px;
    display: flex;
    gap: 40px;
}
nav li a{
    padding: 16px 0px;
    font-size: 1.125em;
    font-weight: 400;
    color: var(--cor-0);
}
nav li{
    line-height: 1.4;
}
nav li::after{
    content: '';
    display: block;
    background-color: var(--cor-0);
    width: 0%;
    height: 2px;
    transition: width .3s ease;
}
nav li:hover:after{
    width: 100%;
    transition: width .3s ease;
}

/* introducao */

.introducao-bg{
    background-color: var(--cor-12);
    color: var(--cor-0);
    box-shadow: inset 0px -124px var(--cor-0);
}
.intro-container img{
    max-width: 100%;
    border-radius: 5px;
}
.intro-container{
    margin: 0 auto;
    padding: 0px 20px;
    align-items: center;
    column-gap: 40px;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.intro-texto h1{
    font-size: 4em;
    margin-bottom: 30px;
}
.intro-texto p{
    color: var(--cor-5);
    font-size: 1.5em;
    line-height: 1.5;
}
.intro-texto a{
    background: linear-gradient(#ffbf00, #f2a50c);
    border-radius: 4px;
    font-size: 1.125em;
    padding: 17px 32px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--cor-p5);
    display: inline-block;
    margin: 20px 0px 70px 0px;
}
.intro-texto a:hover{
    background: linear-gradient(#ffb60d, #e59317);
}

/* bikes */

.bikes-bg{
    background-color: var(--cor-0);
}
.bikes-bg img{
    width: 100%;
    border-radius: 5px;
}
.bikes-container-texto{
    max-width: 1200px;
    color: var(--cor-11);
    font-size: 2.65em;
    padding: 50px 20px 40px 20px;
    margin: 0 auto;
}
.bikes-container{
    padding: 0px 20px 150px 20px;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    gap: 40px;
}
.bike-item h2{
    color: var(--cor-11);
    font-weight: 600;
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 15px;
}
.bike-item h2::before{
    vertical-align: middle;
    margin-right: 8px;
    content: '';
    display: inline-block;
    width: 12px;
    height: 8px;
    background-color: var(--cor-p1);
    transition: width 0.2s;
}
.bike-item h3{
    font-size: 1.125em;
    margin-left: 20px;
    color: var(--cor-8);
    font-weight: 400;
}
.bike-item:hover h2::before{
    transition: width 0.2s;
    width: 25px;
}

/* tecnologia */

.tecno-bg{
    box-shadow:
        inset 0 80px var(--cor-0),
        inset 0 -80px var(--cor-0);
    background-color: var(--cor-11);
    color: var(--cor-0);
    margin-bottom: 60px;
}
.tecno-container{
    align-items: center;
    display: grid;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0px 20px;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.tecno-texto{
    padding: 160px 0px;
}
.tecno-imagem{
    width: 100%;
    height: 100%;
}
.tecno-imagem img{
    border-radius: 4px;
    max-width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: left;
}
.tecno-sobre-container{
    gap: 40px;
    display: flex;
}
.tecno-texto > h3{
    letter-spacing: .5px;
    font-weight: 400;
    font-size: 1.5em;
    color: var(--cor-5);
    margin-bottom: 20px;
}
.tecno-texto > h1{
    font-size: 4em;
    font-weight: 600;
    margin-bottom: 20px;
}
.tecno-texto p{
    color: var(--cor-5);
    font-size: 1.5em;
    line-height: 1.5;
    margin-bottom: 20px;
}
.tecno-texto a{
    display: inline-block;
    margin-bottom: 80px;
    font-size: 1.5em;
    color: var(--cor-p2);
    line-height: 1.4;
}
.tecno-texto a::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: currentColor;
}
.tecno-sobre-item h1{
    font-size: 1.125em;
    font-weight: 400;
    line-height: 2;
}
.tecno-sobre-container img{
    width:25px;
}
.tecno-sobre-item p{
    font-size: 1em;
}

/* parceiros */

.parceiros-bg{
    background-color: var(--cor-0);
}
.parceiros-texto{
    font-size: 2.625em;
    padding: 0px 20px;
    margin: 0px auto 60px auto;
    max-width: 1200px;
}
.parceiros-conteudo ul{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 0 auto 60px auto;
    padding: 0px 20px;
}
.parceiros-conteudo img{
    max-width: 100%;
    display: block;
}
.parceiros-conteudo li{
    justify-content: center;
    padding: 32px;
    display: flex;
    border-left: 2px solid var(--cor-2);
}
.parceiros-conteudo li:nth-child(4n+1){
    border: none;
}
.parceiros-conteudo li:nth-child(1n+5){
    border-top: 2px solid var(--cor-2);
}